.todo-items li {
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    margin: 5px 0px 5px 0px;
}

.datetime-container {
    border: 1px solid black;
    padding: 4px;
}

.info-container {
    width: 500px; 
    background-color: salmon;
    border: 1px solid black;
    border-radius: 5px;
}

body {
    background-image: url("../images/cat.webp");
}